{% extends  'Layouts/layout_niv2.html.twig' %}

{% block title %}{{ parent() }}Création du compte{% endblock %}

{% block titre_principal %}Vue "order_add"{% endblock %}

{% block vue %}
        {% if isUpdateMode  %}
            <h2>Modification du compte</h2>
        {% else %}
            <h2>Création du compte</h2>
        {% endif %}
            {{ form_start(userform) }}

    {% for info in app.session.flashBag.get('info') %}
        <div class="alert alert-success" role="alert">
            {{ info }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <div class="row">
            <div class="mb-3">
                {{ form_row(userform.login, {'attr': {'class': 'form-control'}})  }}
            </div>
            <div class="mb-3">
                {{ form_row(userform.password, {'attr': {'class': 'form-control'}})  }}
            </div>
            <div class="mb-3">
                {{ form_row(userform.name, {'attr': {'class': 'form-control'}})  }}
            </div>
            <div class="mb-3">
                {{ form_row(userform.surname, {'attr': {'class': 'form-control'}})  }}
            </div>
            <div class="mb-3">
                {{ form_row(userform.birthdate, {'attr': {'class': 'form-control'}})  }}
            </div>
            <div>
                {{ form_rest(userform)  }}
            </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(userform) }}
{% endblock %}
