{% extends  'Layouts/layout_niv2.html.twig' %}

{% block title %}{{ parent() }}Création du compte{% endblock %}

{% block titre_principal %}Vue "order_add"{% endblock %}

{% block vue %}
    <h2>Création du compte</h2>
{#        {{ form_start(userform) }}#}

{#        {{ form_label(userform.login) }}#}
{#        {{ form_widget(userform.login) }}#}
{#        {{ form_errors(userform.login) }}#}

{#        {{ form_row(userform.login) }}#}
{#        {{ form_row(userform.password) }}#}
{#        {{ form_row(userform.name) }}#}
{#        {{ form_row(userform.surname) }}#}
{#        {{ form_row(userform.birthdate) }}#}

{#        {{ form_end(userform) }}#}
    </div>

    <form>

        <div class="mb-3">
            {{ form_label(userform.login, null,  { 'label_attr' : { 'class' : 'form-label' } }) }}
            {{ form_widget(userform.login , {'attr' : {'class' : 'form-control'}}) }}
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

{#        <div class="mb-3">#}
{#            <label for="exampleInputPassword1" class="form-label">Password</label>#}
{#            <input type="password" class="form-control" id="exampleInputPassword1">#}
{#        </div>#}
{#        #}
{#        <div class="mb-3 form-check">#}
{#            <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
{#            <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
{#        </div>#}
    </form>
{% endblock %}
