{% extends  'Layouts/layout_niv2.html.twig' %}

{% block title %}{{ parent() }} : form{% endblock %}

{% block titre_principal %}Vue "product_add"{% endblock %}

{% block vue %}
    {% if isUpdateMode  %}
    <h2>Modification d'un produit</h2>
    {% else %}
    <h2>Ajout d'un produit</h2>
    {% endif %}
{#    {{ form(productform) }}#}
{{ form_start(productform) }}
{#    {{ form_row(productform.libelle) }}#}

    {{ form_label(productform.libelle) }}
    {{ form_widget(productform.libelle) }}
    {{ form_errors(productform.libelle) }}
    <span style="font-size: 11px">
    {{ form_help(productform.libelle) }}
    </span>
    <hr>
    {{ form_row(productform.price) }}
    <hr>
    {{ form_row(productform.quantStock) }}
    <input type="submit" value="Envoyer">
{{ form_end(productform) }}

{% endblock %}