{% extends 'Layouts/layout_niv2.html.twig' %}

{% block title %}{{ parent() }} : produits{% endblock %}

{% block titre_principal %}{{ parent() }} : liste des produits{% endblock %}

{% block vue %}
    <p><a href="{{ path('produit_add') }}">ajouter un produit</a></p>

    {% if produits|length == 0 %}
        <p>Aucun produit dans la base de données</p>
    {% else %}
        <table>
            <tr>
                <th>Dénomination</th>
                <th>Prix</th>
                <th>Quantité</th>
            </tr>
            {% for produit in produits %}
                <tr>
                    <td><a href="{{ path('produit_view', {'id' : produit.id}) }}">{{ produit.libelle }}</a></td>
                    <td>{{ produit.price }}</td>
                    <td>{{ produit.quantStock }}</td>
                    <td><a href="{{ path('produit_add', {'id' : produit.id}) }}">Modifier</a></td>
                    <td><a href="{{ path('produit_add', {'id' : produit.id}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {{ dump(produits) }}
{% endblock %}
