{% extends 'Layouts/layout_niv2.html.twig' %}

{% block title %}{{ parent() }} : produits{% endblock %}

{% block titre_principal %}{{ parent() }} : détail du produit {{ product.id }}{% endblock %}

{% block vue %}

    <div class="row justify-content-evenly">

            {% for produit in produits %}
                <div class="col-5">
                    {{ form_start(forms[produit.id]) }}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src='https://place-hold.it/286x180/DD725C.gif?text={{ produit.libelle }}' class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.libelle }}</h5>
                            <p class="card-text">{{ produit.price }} €</p>
                            <div>
                                {{ form_row(forms[produit.id].quantity , { 'attr' : {'min' : 0 , 'max' : produit.quantStock}}) }}

                            </div>
                            {{ form_row(forms[produit.id].send) }}
                        </div>
                    </div>
                </div>
                    {{ form_end(forms[produit.id]) }}
                </div>
            {% endfor %}
    </div>
{% endblock %}