{% extends 'Layouts/layout_niv2.html.twig' %}

{% block title %}{{ parent() }} : stock{% endblock %}

{% block titre_principal %}{{ parent() }} : liste des produits achetable{% endblock %}

{% block vue %}
    <table>
        <tr>
            <th>Libellé</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Choix</th>
            <th>Action</th>
        </tr>
        {% for produit in produits %}
        <tr>
            <td>{{ produit.libelle }}</td>
            <td>{{ produit.price }}</td>
            <td>{{ produit.quantStock}}</td>
            {# {{ form_start() }} #}
            <td>
                <select>
                    {% for i in 0..produit.quantStock %}
                    echo '<option value=".{{ i }}.">{{ i }}</option>';
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="button" value="Commander" name="ajouter[]"/>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}